img {
    width: 100%;
}

.w-100 {
    width: 100%!important;
}

.w-10 {
    width: 10%!important;
}

.w-20 {
    width: 20%!important;
}

.w-30 {
    width: 30%!important;
}

.w-35 {
    width: 35%!important;
}

.w-40 {
    width: 40%!important;
}

.w-45 {
    width: 45%!important;
}

.w-50 {
    width: 50%!important;
}

.w-60 {
    width: 60%!important;
}

.w-65 {
    width: 65%!important;
}

.w-70 {
    width: 70%!important;
}

.bg-green-top {
    background-color: #009432;
}

.bg-green-bot {
    background-color: #02842e;
}

.fz-05rem {
    font-size: 0.5rem;
}

.fz-075rem {
    font-size: 0.75rem;
}

.fz-1rem {
    font-size: 1rem;
}

.fz-125rem {
    font-size: 1.25rem;
}

.fz-175rem {
    font-size: 1.75rem;
}

.fz-2rem {
    font-size: 2rem;
}

.fz-25rem {
    font-size: 2.5rem;
}

.fz-11 {
    font-size: 11px;
}

.fz-13 {
    font-size: 13px;
}

.fz-14 {
    font-size: 14px;
}

.fz-16 {
    font-size: 16px;
}

.fz-18 {
    font-size: 18px;
}

.fz-30 {
    font-size: 30px;
}

.fw-100 {
    font-weight: 100;
}

.fw-200 {
    font-weight: 200;
}

.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.fw-900 {
    font-weight: 900;
}

a {
    color: #555;
}

a:hover {
    text-decoration: none;
}

.t-up {
    text-transform: uppercase;
}

.t-low {
    text-transform: lowercase;
}

.t-cap {
    text-transform: capitalize;
}

.t-center {
    text-align: center;
}

.t-left {
    text-align: left;
}

.t-right {
    text-align: right;
}

.t-line-throught {
    text-decoration: line-through;
}

.cursor-pointer {
    cursor: pointer;
}


/* border */

.border-radius-tr-50px {
    border-top-right-radius: 50px;
}

.border-radius-tl-50px {
    border-top-left-radius: 50px;
}

.border-radius-bl-50px {
    border-bottom-left-radius: 50px;
}

.border-radius-br-50px {
    border-bottom-right-radius: 50px;
}

.border-radius-50px {
    border-radius: 50px!important;
}


/* display */

.d-none {
    display: none;
}

.d-block {
    display: block;
}

.d-inline-block {
    display: inline-block;
}

.d-flex {
    display: flex;
}


/* flex direction */

.flex-wrap {
    flex-wrap: wrap;
}

.flex-column {
    flex-direction: column;
}


/* justify-conten flex */

.justify-content-center {
    justify-content: center;
}

.justify-content-space-between {
    justify-content: space-between!important;
}


/* line-height */

.lh-12rem {
    line-height: 1.2rem!important;
}

.lh-125rem {
    line-height: 1.25rem!important;
}

.lh-2rem {
    line-height: 2rem!important;
}


/* margin */

.mg-t-075rem {
    margin-top: 0.75rem;
}

.mg-t-1rem {
    margin-top: 1rem;
}

.mg-t-2rem {
    margin-top: 2rem;
}

.mg-t-25rem {
    margin-top: 2.5rem;
}

.mg-l-05rem {
    margin-left: 0.5rem;
}

.mg-r-3rem {
    margin-left: 3rem;
}

.mg-b-05rem {
    margin-left: 0.5rem;
}


/* background content */

.bg-main-content {
    background-color: #E5E5E5;
}


/* color */

.t-green-main {
    color: #6CBE1B;
}

.t-success {
    color: #15A4DD;
}

.t-error {
    color: #DE2D2D;
}

.t-placeholder {
    color: #AEABAB;
}


/* padding */


/* .px-0 {
    padding-left: 0!important;
    padding-right: 0!important;
}

.py-0 {
    padding-top: 0!important;
    padding-bottom: 0!important;
} */

.pd-2rem {
    padding: 2rem;
}

.px-1rem {
    padding-left: 1rem;
    padding-right: 1rem;
}

.py-1rem {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.px-05rem {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.py-05rem {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.py-075rem {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}


/* triangle */

.triangle {
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}