/*STYLE*/
/*FONTS*/
@import url("https://fonts.googleapis.com/css?family=Raleway:200");
@font-face {
  font-family: 'Segoe';
  src: url("../../fonts/Segoe/segoeui.ttf");
}

.empty-box {
  position: relative;
  width: 100%;
  height: 400px;
  display: block !important;
  text-align: center;
}

.empty-box .empty-box-icon {
  display: inline-block;
  width: 245px;
  height: 200px;
}

.empty-box .empty-box-text {
  display: block;
  font-weight: 400;
  font-size: 1.5rem;
  text-align: center;
  margin: 1rem 0;
}

.empty-item {
  position: relative;
  width: 100%;
  height: 100%;
  border: 4px dashed #15A4DD;
}

.empty-item::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 71%;
  border-bottom: 2px dashed #15A4DD;
  background-image: url("images/none_img.png");
  background-repeat: no-repeat;
  background-size: 120px 105px;
  background-position: center;
}

.empty-item::after {
  position: absolute;
  top: 75%;
  left: 1rem;
  content: "Nothing to show here right now";
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #15A4DD;
}

.form-info {
  width: 100%;
  padding: 0.5rem;
}

.form-info input,
.form-info select,
.form-info textarea {
  border: none;
  outline: none;
}

.form-info .form-info-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-info .form-info-content .form-info-left {
  position: relative;
  -webkit-box-flex: 30%;
      -ms-flex: 30%;
          flex: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-right: 1px solid #C4C4C4;
}

.form-info .form-info-content .form-info-left .form-info-input-file,
.form-info .form-info-content .form-info-left .form-info-input-img {
  position: absolute !important;
  top: 4.2rem;
  left: 4.2rem;
  display: block;
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 50%;
}

.form-info .form-info-content .form-info-left .form-info-lable {
  display: inline-block;
  text-align: center;
  font-weight: 400;
  font-size: 1rem;
  color: #818181;
}

.form-info .form-info-content .form-info-right {
  -webkit-box-flex: 70%;
      -ms-flex: 70%;
          flex: 70%;
}

.form-info .form-info-content .form-info-right .form-info-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-info .form-info-content .form-info-right .form-info-row .form-info-lable {
  -webkit-box-flex: 20%;
      -ms-flex: 20%;
          flex: 20%;
  text-align: right;
  margin-right: 1.75rem;
  font-weight: 400;
  font-size: 1rem;
}

.form-info .form-info-content .form-info-right .form-info-row .form-info-input-content {
  -webkit-box-flex: 80%;
      -ms-flex: 80%;
          flex: 80%;
}

.form-info .form-info-content .form-info-right .form-info-row .form-info-input-content input {
  width: 100%;
  border: 1px solid #C4C4C4;
  padding: 1rem;
  text-align: left;
  font-weight: 400;
  font-size: 1rem;
}

.form-info .form-info-content .form-info-right .form-info-row-radio .form-info-input-radio {
  border: none !important;
  padding: none !important;
}

.form-info .form-info-content .form-info-right .form-info-row-radio .form-info-input-radio input[type=radio] {
  width: 1.5rem;
  height: 1.5rem;
  padding-left: 0 !important;
}

.form-info .form-info-content .form-info-right .form-info-row-radio .form-info-input-radio input[type=radio]:checked {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: 1px solid red !important;
}

.form-info .form-info-content .form-info-right .form-info-row-radio .form-info-input-radio input[type=radio]:before {
  content: '';
  display: block;
  width: 60%;
  height: 60%;
  margin: 20% auto;
  border-radius: 50%;
}

.form-info .form-info-content .form-info-right .form-info-row-radio .form-info-input-radio input[type=radio]:checked:before {
  background: red;
}

.form-info .form-info-content .form-info-right .form-info-row-radio .form-info-input-radio label {
  font-size: 1rem;
  font-weight: 400;
  margin-left: 0.5rem;
}

.form-info .form-info-submit {
  text-align: right;
}

.form-info .form-info-submit input[type=submit] {
  display: inline-block;
  font-size: 1rem;
  color: #FFFFFF;
  background-color: #6CBE1B;
  padding: 0.75rem;
}

html {
  font-size: 16px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  font-size: 1rem;
}

header #wp-header {
  position: relative;
  width: 100%;
  height: 128px;
}

header #wp-header .top-header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: #FFFFFF;
}

header #wp-header .top-header .certification {
  position: absolute;
  width: 9.22%;
  height: 70.59%;
  left: 59.43%;
  top: 8px;
}

header #wp-header .top-header .iso {
  position: absolute;
  width: 5.71%;
  height: 70.59%;
  left: 70.05%;
  top: 8px;
}

header #wp-header .top-header .phone-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
  position: absolute;
  width: 18.15%;
  height: auto;
  left: 79.49%;
  top: 16px;
}

header #wp-header .top-header .phone-contact > div > img {
  width: 32px;
  height: 32px;
}

header #wp-header .top-header .phone-contact div {
  font-weight: 600;
}

header #wp-header .bot-header {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: #333333;
  color: #F6F6F6;
}

header #wp-header .bot-header a {
  font-size: 1em;
  color: #F6F6F6;
}

header #wp-header .bot-header #main-menu {
  position: absolute;
  top: 21px;
  left: 33.3%;
  width: 45.24%;
  height: 67.2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header #wp-header .bot-header #main-menu .item {
  margin: 0 20px;
}

header #wp-header .bot-header #main-menu .item:first-child {
  margin-right: 0 20px;
}

header #wp-header .bot-header #main-menu .item:last-child {
  margin-left: 0 20px;
}

header #wp-header .bot-header #main-menu .item:hover, header #wp-header .bot-header #main-menu .item.active {
  border-bottom: 2px solid #FDF100;
}

header #wp-header .bot-header #main-menu .item:hover a, header #wp-header .bot-header #main-menu .item.active a {
  font-weight: 600;
  color: #FDF100;
}

header #wp-header .bot-header .dir-user {
  position: relative;
  width: 14.12%;
  height: 62.5%;
  left: 82.94%;
  top: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header #wp-header .bot-header .dir-user .dir-tx {
  position: absolute;
  top: 3px;
  right: 35.23%;
}

header #wp-header .bot-header .dir-user .dir-tx div {
  margin-bottom: 6px;
}

header #wp-header .bot-header .dir-user .dir-tx div a {
  font-size: 0.75em;
}

header #wp-header .bot-header .dir-user .icon {
  position: absolute;
  top: 0;
  left: 68.91%;
  width: 40px;
  height: 40px;
}

header #wp-header .bot-header .dir-user .arrow-down {
  position: absolute;
  left: 94.81%;
}

header #wp-header .bot-header .dir-box {
  position: absolute;
  right: 40px;
  top: 66px;
  z-index: 100;
  width: 193px;
  height: 124px;
}

header #wp-header .bot-header .dir-box > span.triangle {
  position: absolute;
  right: 22.48%;
  top: -7.18%;
  width: 12px;
  height: 12px;
  display: block;
  background-color: #FFFFFF;
}

header #wp-header .bot-header .dir-box .box-text {
  background-color: #FFFFFF;
  padding: 16px 0;
}

header #wp-header .bot-header .dir-box .box-text a {
  display: block;
  padding: 16px 61px;
  text-align: center;
  font-size: 0.875rem;
  color: #000000;
}

header #wp-header .bot-header .dir-box .box-text a:hover {
  background-color: #F6F6F6;
}

header #wp-header .logo {
  position: absolute;
  left: 5.27%;
  top: 14.06%;
  width: 10.24%;
  height: 71.09%;
}

#wrapper .wp-container {
  position: relative;
  top: 0;
  left: 0;
  z-index: 90;
}

#wrapper .wp-container #slide-home {
  position: relative;
}

#wrapper .wp-container #slide-home .carousel-control-prev {
  position: absolute;
  top: 29.13%;
  left: 0;
  width: 32px;
  height: 120px;
  background-color: #FFFFFF;
}

#wrapper .wp-container #slide-home .carousel-control-prev .carousel-control-prev-icon {
  width: 24px;
  height: 24px;
  background-image: url("images/arrow-left.png");
}

#wrapper .wp-container #slide-home .carousel-control-next {
  position: absolute;
  top: 29.13%;
  right: 0;
  width: 32px;
  height: 120px;
  background-color: #FFFFFF;
}

#wrapper .wp-container #slide-home .carousel-control-next .carousel-control-next-icon {
  width: 24px;
  height: 24px;
  background-image: url("images/arrow-right.png");
}

#wrapper .wp-container span.box-contact-shadow {
  position: fixed;
  right: 52.26px;
  bottom: 19.89px;
  width: 120px;
  height: 120px;
  background-color: #6CBE1B;
  z-index: 100;
  opacity: 0.15;
  border-radius: 50%;
}

#wrapper .wp-container .box-contact {
  position: fixed;
  width: 110px;
  height: 110px;
  background-color: #6CBE1B;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: 56.26px;
  bottom: 24.89px;
  padding-top: 28.56px;
  border-radius: 50%;
  z-index: 110;
  cursor: pointer;
}

#wrapper .wp-container .box-contact div {
  display: inline-block;
}

#wrapper .wp-container .box-contact .icon-contact {
  width: 53px;
  height: auto;
  color: #FFFFFF;
}

#wrapper .wp-container .box-contact .icon-contact > div {
  width: 26.67px;
  height: 26.67px;
  margin-bottom: 8.67px;
}

#wrapper .wp-container .box-contact .menu-contact {
  position: fixed;
  right: 48px;
  bottom: 149px;
  width: 216px;
  height: auto;
  background-color: #FFFFFF;
}

#wrapper .wp-container .box-contact .menu-contact .content-contact {
  padding: 16px 0;
}

#wrapper .wp-container .box-contact .menu-contact .content-contact .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding: 8px 24px;
}

#wrapper .wp-container .box-contact .menu-contact .content-contact .item a {
  display: inline-block;
}

#wrapper .wp-container .box-contact .menu-contact .content-contact .item a.item-icon {
  width: 32px;
  height: 32px;
}

#wrapper .wp-container .box-contact .menu-contact .content-contact .item a.item-title {
  margin: 8px 0 8px 15px;
}

#wrapper .wp-container .box-contact .menu-contact .content-contact .item a:hover {
  color: #000000;
}

#wrapper .wp-container .box-contact .menu-contact .content-contact .item:hover {
  background-color: #F6F6F6;
}

#wrapper .wp-container .box-contact .menu-contact span.triangle {
  position: absolute;
  bottom: -8px;
  right: 57px;
  width: 12px;
  height: 12px;
  background-color: #FFFFFF;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

#wrapper .wp-container .box-contact-close {
  position: fixed;
  background-image: url("images/x.png");
  right: 98.26px;
  bottom: 66.89px;
  z-index: 111;
  width: 24px;
  height: 24px;
}

#wrapper {
  color: #000000;
}

#wrapper .wp-content {
  padding: 72px 5.85% 0 5.85%;
}

#wrapper .wp-content .box-content {
  margin-top: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#wrapper .wp-content .box-content .content {
  max-width: 55.92%;
}

#wrapper .wp-content .box-content .box-item {
  width: 23.54%;
  min-height: 318px;
  -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.16);
  padding: 24px;
  background-color: #FFFFFF;
}

#wrapper .wp-content .box-content .box-item .item-title {
  color: #15A4DD;
  border-bottom: 1px solid #15A4DD;
  text-align: center;
}

#wrapper .wp-content .box-content .box-item .item-title .icon {
  display: inline-block;
  width: 34px;
  height: 34px;
}

#wrapper .wp-content .box-content .box-item .item-title > h4 {
  margin-top: 8px;
  margin-bottom: 16px;
}

#wrapper .wp-content .box-content .box-item .item-content {
  margin-top: 16px;
  line-height: 1.6rem;
}

#wrapper .short-desc {
  line-height: 2rem;
  margin-top: 32px;
}

#wrapper .top-content {
  width: 100%;
  max-height: 654px;
  background-color: #FFFFFF;
}

#wrapper .bot-content {
  background-color: #E5E5E5;
  width: 100%;
  min-height: 504px;
  margin-top: 72px;
  padding-bottom: 72px;
}

#wrapper.process .bot-content .wp-content .box-content .box-item {
  background-color: #E5E5E5;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 0;
}

#wrapper.process .bot-content .wp-content .box-content .box-item .item-title {
  background-color: #E5E5E5;
  border-bottom: none;
}

#wrapper.process .bot-content .wp-content .box-content .box-item .item-content {
  min-height: 316px;
  -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.16);
  padding: 24px;
  background-color: #FFFFFF;
}

#wrapper.process .bot-content .wp-content .box-content .box-item .item-content .step-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#wrapper.process .bot-content .wp-content .box-content .box-item .item-content .step-img > p {
  width: 83.03%;
}

.show-thumb-nail {
  position: fixed;
  left: 29.5%;
  bottom: 124px;
  width: 560px;
  height: 560px;
  z-index: 110;
}

.show-thumb-nail .close {
  position: absolute;
  top: -2rem;
  right: 0;
  cursor: pointer;
}

#wrapper.product .top-content {
  background-image: url("images/bg-product.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

#wrapper.product .top-content .wp-content {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(36.81%, #FFFFFF), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(0deg, #FFFFFF 36.81%, rgba(255, 255, 255, 0) 100%);
}

#wrapper.product .top-content .wp-content .box-title .empty {
  min-height: 279px;
}

#wrapper.product .bot-content .wp-content .box-content {
  min-height: 664px;
}

#wrapper.product .bot-content .wp-content .box-content .box-item {
  cursor: pointer;
  margin-top: 0.87rem;
}

#wrapper.product .bot-content .wp-content .box-content .box-left {
  width: 36.23%;
  min-height: 100%;
}

#wrapper.product .bot-content .wp-content .box-content .box-left .box-item {
  height: 100%;
}

#wrapper.product .bot-content .wp-content .box-content .box-right {
  width: 62.71%;
}

#wrapper.product .bot-content .wp-content .box-content .box-right .box-item {
  width: 31.73%;
  min-height: 49%;
}

#wrapper.product .bot-content .wp-content .box-content .box-right .box-item .item-content {
  margin-top: 0;
}

#wrapper.service .bot-content {
  margin-top: 0;
}

#wrapper.service .bot-content .box-content {
  padding-left: 11.25%;
  padding-right: 11.25%;
}

#wrapper.service .bot-content .box-content .box-item {
  width: 31.5%;
}

#wrapper.contact .bot-content .wp-content .box-title,
#wrapper.register .bot-content .wp-content .box-title {
  padding: 2.5rem;
}

#wrapper.contact .bot-content .wp-content .box-content .box-left,
#wrapper.register .bot-content .wp-content .box-content .box-left {
  width: 41.53%;
}

#wrapper.contact .bot-content .wp-content .box-content .box-left .box-item,
#wrapper.register .bot-content .wp-content .box-content .box-left .box-item {
  min-height: 100%;
}

#wrapper.contact .bot-content .wp-content .box-content .box-left .box-item .item-title,
#wrapper.register .bot-content .wp-content .box-content .box-left .box-item .item-title {
  border-bottom: none;
  color: #000000;
}

#wrapper.contact .bot-content .wp-content .box-content .box-left .item-content,
#wrapper.register .bot-content .wp-content .box-content .box-left .item-content {
  margin-top: 3.5rem;
}

#wrapper.contact .bot-content .wp-content .box-content .box-left .item-content p,
#wrapper.register .bot-content .wp-content .box-content .box-left .item-content p {
  margin-bottom: 1.625rem;
}

#wrapper.contact .bot-content .wp-content .box-content .box-left .item-content p span.icon,
#wrapper.register .bot-content .wp-content .box-content .box-left .item-content p span.icon {
  display: block;
  width: 24px;
  height: 24px;
}

#wrapper.contact .bot-content .wp-content .box-content .box-right,
#wrapper.register .bot-content .wp-content .box-content .box-right {
  width: 55.75%;
}

#wrapper.contact .bot-content .wp-content .box-content .box-right .box-item,
#wrapper.register .bot-content .wp-content .box-content .box-right .box-item {
  padding: 2.5rem 3.375rem 0.5rem 3.375rem;
}

#wrapper.contact .bot-content .wp-content .box-content .box-right .box-item .item-title,
#wrapper.register .bot-content .wp-content .box-content .box-right .box-item .item-title {
  border-bottom: none;
  color: #000000;
}

#wrapper.contact .bot-content .wp-content .box-content .box-right .box-item form.box-request,
#wrapper.register .bot-content .wp-content .box-content .box-right .box-item form.box-request {
  text-align: center;
}

#wrapper.contact .bot-content .wp-content .box-content .box-right .box-item form.box-request select,
#wrapper.contact .bot-content .wp-content .box-content .box-right .box-item form.box-request input,
#wrapper.register .bot-content .wp-content .box-content .box-right .box-item form.box-request select,
#wrapper.register .bot-content .wp-content .box-content .box-right .box-item form.box-request input {
  width: 100%;
  display: block;
  padding: 1rem;
  margin-bottom: 1.5rem;
  border: 1px solid #C4C4C4;
}

#wrapper.contact .bot-content .wp-content .box-content .box-right .box-item form.box-request select[name=messager],
#wrapper.contact .bot-content .wp-content .box-content .box-right .box-item form.box-request input[name=messager],
#wrapper.register .bot-content .wp-content .box-content .box-right .box-item form.box-request select[name=messager],
#wrapper.register .bot-content .wp-content .box-content .box-right .box-item form.box-request input[name=messager] {
  min-height: 214px;
}

#wrapper.contact .bot-content .wp-content .box-content .box-right .box-item form.box-request select[type=radio],
#wrapper.contact .bot-content .wp-content .box-content .box-right .box-item form.box-request input[type=radio],
#wrapper.register .bot-content .wp-content .box-content .box-right .box-item form.box-request select[type=radio],
#wrapper.register .bot-content .wp-content .box-content .box-right .box-item form.box-request input[type=radio] {
  width: 10%;
}

#wrapper.contact .bot-content .wp-content .box-content .box-right .box-item form.box-request select[type=submit],
#wrapper.contact .bot-content .wp-content .box-content .box-right .box-item form.box-request input[type=submit],
#wrapper.register .bot-content .wp-content .box-content .box-right .box-item form.box-request select[type=submit],
#wrapper.register .bot-content .wp-content .box-content .box-right .box-item form.box-request input[type=submit] {
  display: inline-block;
  width: 18.36%;
  background-color: #6CBE1B;
  color: #F6F6F6;
  font-weight: 600;
  font-size: 1.25rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

#wrapper.contact .bot-content .wp-content .box-content .box-right .box-item form.box-request textarea,
#wrapper.register .bot-content .wp-content .box-content .box-right .box-item form.box-request textarea {
  width: 100%;
  display: block;
  padding: 1rem;
  margin-bottom: 1.5rem;
  border: 1px solid #C4C4C4;
}

#wrapper.contact .bot-content .wp-content .box-content .box-right .box-item form.box-request textarea[name=messager],
#wrapper.register .bot-content .wp-content .box-content .box-right .box-item form.box-request textarea[name=messager] {
  min-height: 214px;
}

.btn-submit {
  display: block;
  width: 100%;
  background-color: #6CBE1B;
  color: #F6F6F6;
  font-weight: 600;
  font-size: 1.25rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  text-align: center;
  outline: none;
  border: none;
}

.fill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fill .input-title {
  -webkit-box-flex: 20%;
      -ms-flex: 20%;
          flex: 20%;
}

.fill .input-title label {
  margin-right: 1.75rem;
  text-align: right;
}

.fill .input-content {
  width: 67%;
}

.fill .input-content input {
  margin: 0 !important;
}

.fill .fill-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.fill .fill-box input[type=radio] {
  width: 24px;
  height: 24px;
}

.fill .fill-box select {
  width: 33%;
  border: 1px solid #C4C4C4;
  outline: none;
  color: #AEABAB;
  margin-right: 0.5rem;
  font-size: 1rem;
}

.fill .fill-box label {
  padding: 3px 0px 0px 3px;
  margin-right: 1.05rem;
}

#wrapper.register .short-desc {
  margin-top: 1rem;
}

#wrapper.register .bot-content .wp-content .box-content .box-left {
  width: 56.92%;
}

#wrapper.register .bot-content .wp-content .box-content .box-right {
  width: 38.05%;
}

#wrapper.register .bot-content .wp-content .box-content .box-right .box-item {
  padding: 3.5rem 2.5rem;
}

#wrapper.register .bot-content .wp-content .box-content .box-right .box-item .item-title {
  position: relative;
}

#wrapper.register .bot-content .wp-content .box-content .box-right .box-item .item-title span.icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 24px;
}

#wrapper.register .bot-content .wp-content .box-content .box-right .box-item form.box-request {
  text-align: center;
}

#wrapper.register .bot-content .wp-content .box-content .box-right .box-item form.box-request div {
  position: relative;
}

#wrapper.register .bot-content .wp-content .box-content .box-right .box-item form.box-request div span {
  position: absolute;
  top: 0.95rem;
  right: 1rem;
  width: 24px;
  height: 24px;
}

#wrapper.register .bot-content .wp-content .box-content .box-right .box-item form.box-request input[type=submit] {
  display: block;
  width: 100%;
  background-color: #6CBE1B;
  color: #F6F6F6;
  font-weight: 600;
  font-size: 1.25rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

#wrapper.register .bot-content .wp-content .box-content .box-right .box-item form.digit-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#wrapper.register .bot-content .wp-content .box-content .box-right .box-item form.digit-group input {
  width: 38px;
  height: 56px;
  background-color: white;
  border: none;
  line-height: 50px;
  text-align: center;
  font-size: 1.125rem;
  font-weight: 600;
  text-align: center;
  color: #000000;
  margin: 0 2px;
  border: 1px solid #EBEBEB;
  margin-left: 4px;
  margin-right: 4px;
}

#wrapper.register .bot-content .wp-content .box-content .box-right .box-item form.digit-group .splitter {
  padding: 0.9375rem 0.8125rem;
  color: white;
  font-size: 24px;
}

#wrapper.register .bot-content .wp-content .box-content .box-right .box-item .item-content a:hover {
  text-decoration: underline;
  color: #6CBE1B;
}

#wrapper.register .bot-content .wp-content .box-content.form-create-password {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#wrapper.register .bot-content .wp-content .form-create-info .box-content .box-right {
  width: 64.34%;
}

#wrapper.register .bot-content .wp-content .form-create-info .box-content .box-right .box-item form.box-request {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#wrapper.register .bot-content .wp-content .form-create-info .box-content .box-right .box-item form.box-request .box-left {
  -webkit-box-flex: 36%;
      -ms-flex: 36%;
          flex: 36%;
  border-right: 1px solid #C4C4C4;
}

#wrapper.register .bot-content .wp-content .form-create-info .box-content .box-right .box-item form.box-request .box-left .request-item.avatar {
  position: relative;
  display: block;
  width: 100%;
  height: 311px;
  top: 1rem;
  left: 0;
  text-align: center;
}

#wrapper.register .bot-content .wp-content .form-create-info .box-content .box-right .box-item form.box-request .box-left .request-item.avatar input#avatar {
  position: absolute;
  top: 1.625rem;
  left: 3.6875rem;
  display: inline-block;
  width: 120px;
  height: 120px;
  z-index: 111;
  border-radius: 50%;
  opacity: 0;
  cursor: pointer;
}

#wrapper.register .bot-content .wp-content .form-create-info .box-content .box-right .box-item form.box-request .box-left .request-item.avatar span {
  position: relative;
  top: 10.95rem;
  left: -0.85%;
}

#wrapper.register .bot-content .wp-content .form-create-info .box-content .box-right .box-item form.box-request .box-left .request-item.avatar span.avatar {
  position: absolute;
  top: 1.625rem;
  left: 3.6875rem;
  width: 120px;
  height: 120px;
  z-index: 110;
}

#wrapper.register .bot-content .wp-content .form-create-info .box-content .box-right .box-item form.box-request .box-right {
  -webkit-box-flex: 64%;
      -ms-flex: 64%;
          flex: 64%;
}

#wrapper.register .bot-content .wp-content .form-create-info .box-content .box-right .box-item form.box-request .box-right .request-item {
  margin-bottom: 1rem;
}

#wrapper.register .bot-content .wp-content .form-create-info .box-content .box-right .box-item form.box-request .box-right .request-item.is_business {
  position: relative;
  top: 0;
  left: 2.5rem;
  width: 100%;
  height: 1rem;
}

#wrapper.register .bot-content .wp-content .form-create-info .box-content .box-right .box-item form.box-request .box-right .request-item.is_business input#is_business {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 16px;
}

#wrapper.register .bot-content .wp-content .form-create-info .box-content .box-right .box-item form.box-request .box-right .request-item.is_business label[for=is_business] {
  position: absolute;
  top: -4px;
  left: 1.5rem;
}

#wrapper.register .bot-content .wp-content .form-create-info .box-content .box-right .box-item .item-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header {
  font-size: 1rem;
}

header #wp-header.header-customer {
  height: 72px;
}

header #wp-header.header-customer .bot-header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333333;
  color: #F6F6F6;
}

header #wp-header.header-customer .bot-header .search {
  position: relative;
  top: 1rem;
  left: 15.22%;
  width: 52.7%;
  height: 58.3%;
}

header #wp-header.header-customer .bot-header .search #search {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  padding: 0.75rem 1rem;
}

header #wp-header.header-customer .bot-header .search button {
  position: absolute;
  top: 0;
  right: 0;
  width: 16.25%;
  height: 100%;
  padding: 0.75rem 1rem;
  background-color: #6CBE1B;
  color: #FFFFFF;
}

header #wp-header.header-customer .bot-header .search button .icon {
  width: 1rem;
  height: 1rem;
}

header #wp-header.header-customer .bot-header .dir-user {
  position: absolute;
  width: 14.12%;
  height: 62.5%;
  left: 77%;
  top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header #wp-header.header-customer .bot-header .dir-user .dir-tx {
  position: absolute;
  top: 3px;
  right: 35.23%;
}

header #wp-header.header-customer .bot-header .dir-user .dir-tx div {
  margin-bottom: 6px;
}

header #wp-header.header-customer .bot-header .dir-user .dir-tx div a {
  font-size: 0.75em;
}

header #wp-header.header-customer .bot-header .dir-user .icon {
  position: absolute;
  top: 0;
  left: 68.91%;
  width: 40px;
  height: 40px;
}

header #wp-header.header-customer .bot-header .dir-user .arrow-down {
  position: absolute;
  left: 94.81%;
}

header #wp-header.header-customer .bot-header .dir-box {
  position: absolute;
  left: 79%;
  top: 97.11%;
  z-index: 100;
  width: 193px;
  height: 124px;
}

header #wp-header.header-customer .bot-header .dir-box > span.triangle {
  position: absolute;
  right: 22.48%;
  top: -7.18%;
  width: 12px;
  height: 12px;
  display: block;
  background-color: #FFFFFF;
}

header #wp-header.header-customer .bot-header .dir-box .box-text {
  background-color: #FFFFFF;
  padding: 16px 0;
}

header #wp-header.header-customer .bot-header .dir-box .box-text a {
  display: block;
  padding: 16px 0;
  text-align: center;
  font-size: 0.875rem;
  color: #000000;
}

header #wp-header.header-customer .bot-header .dir-box .box-text a:hover {
  background-color: #F6F6F6;
}

header #wp-header.header-customer .bot-header .header-cart {
  position: absolute;
  top: 1.25rem;
  left: 93.55%;
  z-index: 110;
}

header #wp-header.header-customer .bot-header .header-cart .icon {
  width: 2rem;
  height: 2rem;
}

header #wp-header.header-customer .bot-header .header-cart .amount {
  position: absolute;
  top: 0;
  right: -0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1.3124rem;
  height: 0.6875rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 8px;
  background: #FFFFFF;
  border-radius: 100px;
  color: #000000;
  font-size: 8px;
}

header #wp-header.header-customer .bot-header .dir-box.header-cart-box {
  position: absolute;
  left: 70.39%;
  width: 27.67%;
  height: 124px;
}

header #wp-header.header-customer .bot-header .dir-box.header-cart-box span.triangle {
  right: 10.48%;
}

header #wp-header.header-customer .bot-header .dir-box.header-cart-box .wp-header-cart-box {
  height: 216px;
  overflow-y: scroll;
}

header #wp-header.header-customer .bot-header .dir-box.header-cart-box .wp-header-cart-box .header-cart-item .thumb-nail {
  width: 2.5rem;
  height: 2.5rem;
}

header #wp-header.header-customer .bot-header .dir-box.header-cart-box .wp-header-cart-box .header-cart-item .item-content {
  text-align: left;
}

header #wp-header.header-customer .bot-header .dir-box.header-cart-box .btn-submit {
  width: 37.3%;
}

header #wp-header.header-customer .bot-header .logo {
  position: absolute;
  left: 4.09%;
  top: 13.8%;
  width: 5.85%;
  height: 72.22%;
}

.customer-home .box-item {
  width: 24% !important;
  min-height: 500px !important;
  max-height: 550px !important;
}

footer {
  width: 100%;
  min-height: 309px;
  background-color: #333333;
}

footer .wp-container {
  width: 100%;
  padding: 48px 10.68% 41px 10.68%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .wp-container .box-content {
  width: 23.05%;
  color: #FFFFFF;
}

footer .wp-container .box-content .title {
  min-height: 78px;
}

footer .wp-container .box-content .title .logo {
  display: block;
  width: 46.15%;
}

footer .wp-container .box-content .content {
  margin-top: 8px;
}

footer .wp-container .box-content .content p {
  margin-bottom: 16px;
  line-height: 1.6rem;
}

footer .wp-container .box-content .content a {
  color: #FFFFFF;
  display: block;
  margin-bottom: 24px;
}

footer .wp-container .box-content .content a.brand {
  width: 54.74%;
  margin-bottom: 32px;
}

ul.marker li::before {
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: black;
  margin-bottom: 3px;
  border-radius: 50%;
}
/*# sourceMappingURL=style.css.map */