#wrapper.process {
    .bot-content {
        .wp-content {
            .box-content {
                .box-item {
                    background-color: $botContent;
                    box-shadow: none;
                    padding: 0;
                    .item-title {
                        background-color: $botContent;
                        border-bottom: none;
                    }
                    .item-content {
                        min-height: 316px;
                        box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.16);
                        padding: 24px;
                        background-color: $topHeader;
                        .step-img {
                            display: flex;
                            justify-content: center;
                            &>p {
                                width: 83.03%;
                            }
                        }
                    }
                }
            }
        }
    }
}

.show-thumb-nail {
    position: fixed;
    left: 29.5%;
    bottom: 124px;
    @include widthIcon(560px);
    z-index: 110;
    .close {
        position: absolute;
        top: -2rem;
        right: 0;
        cursor: pointer;
    }
}